{% extends "base.html" %} {% block content %}
<div class="column is-8 is-offset-2">
    <h3 class="title">Welcome !</h3>
    <div class="box">
        <form method="POST" action="">

            <div class="field">
                <label class="label has-text-left">Username</label>
                <div class="control">
                    <input class="input" type="text" name="Username" placeholder="Username" autofocus="">
                </div>
            </div>

            <div class="field">
                <label class="label has-text-left">Password</label>
                <div class="control">
                    <input class="input" type="password" name="Password" placeholder="Password">
                </div>
            </div>

            <input type="submit" class="button is-info" value="Login in" onclick="javascript:this.form.action='/login';">
            <input type="submit" class="button is-info" value="Sign up" onclick="javascript:this.form.action='/signup';">
        </form>
    </div>
</div>
{% endblock %}