{% extends "base.html" %} {% block content %}
<div class="column is-8 is-offset-2">
    <h3 class="title">Sign up</h3>
    <div class="box">
        <form method="POST" action="/signup_confirm">
            <div class="field">
                <label class="label has-text-left">ID</label>
                <div class="control">
                    <input class="input" type="text" name="ID" placeholder="8 Digits">
                </div>
            </div>
            <div class="field">
                <label class="label has-text-left">Password</label>
                <div class="control">
                    <input class="input" type="password" name="Password" placeholder="Within 20 Digits">
                </div>
            </div>
            <input type="submit" class="button is-info" value="Confirm">
            <a class="button is-info" href="{{ url_for('index') }}">Go Back</a>
        </form>
    </div>
</div>
{% endblock %}